.banner-section-background {
  width: 100%;
  height: calc(100vh - 75px);
  background-image: linear-gradient(
    to bottom right,
    var(--turquoise-100),
    var(--turquoise-100),
    var(--turquoise),
    var(--sky-blue),
    var(--powder-blue-600),
    var(--purple)
  );
  filter: blur(180px);
  top: 0;
  left: 0;
}
.banner-bubble {
  background-color: #fff;
  border-radius: 50%;
  background-color: #fff;
  filter: blur(40px);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.banner-bubble-1 {
  width: 250px;
  height: 250px;
  right: 10%;
  top: 40%;
}
.banner-bubble-2 {
  width: 150px;
  height: 150px;
  right: 30%;
  top: 20%;
}
.banner-bubble-3 {
  width: 200px;
  height: 200px;
  left: 5%;
  top: -10%;
}
.banner {
  z-index: 999;
}
.banner-title {
  width: 45%;
  margin: 0 auto;
  text-align: center;
  margin-top: 45px;
}
.banner-image-container {
  width: 250px;
  height: 300px;
  overflow: hidden;
  margin: 50px auto;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.banner-dot-1 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: linear-gradient(to top, #ff7581, #ffc97e);
  left: 22%;
  top: 98%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.banner-dot-2 {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: linear-gradient(to top, #8bc9ff, #ffbbc6);
  left: 22%;
  top: 30%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.banner-dot-3 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: linear-gradient(to top, #349be0, #6dd5fa, #ffffff);
  right: 30%;
  top: 95%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.banner-static-image {
  width: 150px;
  height: 200px;
  border-radius: 15px;
  overflow: hidden;
  left: -30px;
  top: 60%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.banner-text-1 {
  width: 240px;
  height: auto;
  top: 40%;
  left: 10%;
}
.banner-text-2 {
  width: 180px;
  height: auto;
  margin: 0;
}
.graphic-info-container {
  flex-direction: column;
  right: 20%;
  top: 50%;
  gap: 15px;
}
.user-profile-container {
  height: 45px;
}
.user-name-text {
  flex-direction: column;
  margin: 0;
}
.user-profile-bubble-1,
.user-profile-bubble-2,
.user-profile-bubble-3 {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  overflow: hidden;
  border: 1px solid #fff;
}
.user-profile-bubble-2 {
  transform: translateX(-10px);
}
.user-profile-bubble-3 {
  transform: translateX(-15px);
}
@media (max-width: 1200px) {
  .graphic-info-container {
    right: 15%;
  }
  .banner-bubble-1 {
    width: 180px;
    height: 180px;
    top: 40%;
    right: 10%;
  }
  .banner-bubble-2 {
    top: 15%;
  }
}
@media (max-width: 992px) {
  .banner-image-container {
    width: 200px;
    height: 250px;
    margin-top: 30px;
  }
  .banner-title {
    margin-top: 30px;
  }
  .graphic-info-container {
    right: 10%;
  }
  .banner-section-background {
    height: 700px;
  }
  .banner-text-1 {
    width: 180px;
  }
  .banner-static-image {
    width: 120px;
    height: 140px;
  }
  .banner-bubble-1 {
    width: 150px;
    height: 150px;
    top: 28%;
    right: 5%;
  }
  .banner-bubble-2 {
    width: 120px;
    height: 120px;
    top: 10%;
  }
  .banner-dot-1 {
    top: 90%;
  }
}
