@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap");

html,
body {
  margin: 0;
  font-family: "Montserrat Alternates", sans-serif !important;
}
.font-montserrat-alternate {
  font-family: "Montserrat Alternates", sans-serif;
}
.app-colors {
  /* sky blue */
  --sky-blue: #92a8f2;
  --sky-blue-50: #e8edfc;
  --sky-blue-100: #dbe3fa;
  --sky-blue-200: #c9d5f8;
  --sky-blue-300: #b7c6f6;
  --sky-blue-400: #a4b7f4;
  --sky-blue-600: #7f9af0;
  --sky-blue-700: #6d8bee;
  --sky-blue-800: #5b7dec;
  --sky-blue-900: #486eea;

  /* turquoise */
  --turquoise: #9ce3e8;
  --turquoise-50: #eefafb;
  --turquoise-100: #def6f7;
  --turquoise-200: #cdf1f3;
  --turquoise-300: #bdecef;
  --turquoise-400: #abe7eb;
  --turquoise-600: #8bdee4;
  --turquoise-700: #7bd9e0;
  --turquoise-800: #6ad5dc;
  --turquoise-900: #5ad0d8;

  /* powder blue */
  --powder-blue: #8f97f5;
  --powder-blue-50: #eceefd;
  --powder-blue-100: #dadcfc;
  --powder-blue-200: #c7cbfa;
  --powder-blue-300: #a9aff7;
  --powder-blue-400: #a2a9f6;
  --powder-blue-600: #7c86f3;
  --powder-blue-700: #6a75f1;
  --powder-blue-800: #5764ef;
  --powder-blue-900: #4452ee;

  --gray: #b8bcd7;
  --dark-gray: #42525e;
  --purple: #97629a;
  --blue: #455db3;
}
.container {
  width: 100%;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.font-medium {
  font-weight: 500;
}
.font-semibold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}
.font-heavy {
  font-weight: 800;
}
.text-xs {
  font-size: 10px;
}
.text-sm {
  font-size: 12px;
}
.text-md {
  font-size: 15px;
}
.text-lg {
  font-size: 18px;
}
.text-xl {
  font-size: 20px;
}
.display-xs {
  font-size: 26px;
}
.display-sm {
  font-size: 32px;
}
.display-md {
  font-size: 38px;
}
.display-lg {
  font-size: 52px;
}
.display-xl {
  font-size: 72px;
}

.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
.d-flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-around {
  justify-content: space-around;
}
.align-items-center {
  align-items: center;
}
.cursor-pointer {
  cursor: pointer;
}
.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}
